<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural Language processing</title>
    </head>

    <body>

        <header>
            <h1>Evaluate a News post using the MeaningCloud API.</h1>
        </header>
        <main>
            <section class="input_section">
                <form class="" onsubmit="return handleSubmit(event)">
                    <input class="user_input" id="urlInput" type="text" name="input" value="" placeholder="Enter a URL here">
                    <input class="btn" type="submit" value="Analysis" onclick="return handleSubmit(event)">
                </form>
                <div class="error_message" id="errorMessage"></div>
            </section>
            <section class="output_section">
                <h3>Results</h3>
                <div class="result" id="result_output"></div>
                <div class="subjectivity" id="subjectivity_output"></div>
                <div class="score" id="score_output"></div>
            </section>
            <section class="attribute_section">
                <img src="../images/meaningCloud-logo.png" alt="Meaning Cloud logo" height="100" width="247">
                <a href="https://www.meaningcloud.com/" target="blank">Powered by MeaningCloud API</a>
            </section>

        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>